<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>餐饮</string>
		<key>imageName</key>
		<string>餐饮normal</string>
		<key>highImageName</key>
		<string>餐饮high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>购物</string>
		<key>imageName</key>
		<string>购物normal</string>
		<key>highImageName</key>
		<string>购物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日用</string>
		<key>imageName</key>
		<string>日用normal</string>
		<key>highImageName</key>
		<string>日用high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交通</string>
		<key>imageName</key>
		<string>交通normal</string>
		<key>highImageName</key>
		<string>交通high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蔬菜</string>
		<key>imageName</key>
		<string>蔬菜normal</string>
		<key>highImageName</key>
		<string>蔬菜high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果</string>
		<key>imageName</key>
		<string>水果normal</string>
		<key>highImageName</key>
		<string>水果high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>零食</string>
		<key>imageName</key>
		<string>零食normal</string>
		<key>highImageName</key>
		<string>零食high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运动</string>
		<key>imageName</key>
		<string>运动normal</string>
		<key>highImageName</key>
		<string>运动high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>imageName</key>
		<string>娱乐normal</string>
		<key>highImageName</key>
		<string>娱乐high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通讯</string>
		<key>imageName</key>
		<string>通讯normal</string>
		<key>highImageName</key>
		<string>通讯high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>服饰</string>
		<key>imageName</key>
		<string>服饰normal</string>
		<key>highImageName</key>
		<string>服饰high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美容</string>
		<key>imageName</key>
		<string>美容normal</string>
		<key>highImageName</key>
		<string>美容high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>住房</string>
		<key>imageName</key>
		<string>住房normal</string>
		<key>highImageName</key>
		<string>住房high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>居家</string>
		<key>imageName</key>
		<string>居家normal</string>
		<key>highImageName</key>
		<string>居家high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孩子</string>
		<key>imageName</key>
		<string>孩子normal</string>
		<key>highImageName</key>
		<string>孩子high</string>
	</dict>
	<dict>
		<key>highImageName</key>
		<string>长辈high</string>
		<key>imageName</key>
		<string>长辈normal</string>
		<key>name</key>
		<string>长辈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>社交</string>
		<key>imageName</key>
		<string>社交normal</string>
		<key>highImageName</key>
		<string>社交high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行</string>
		<key>imageName</key>
		<string>旅行normal</string>
		<key>highImageName</key>
		<string>旅行high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烟酒</string>
		<key>imageName</key>
		<string>烟酒normal</string>
		<key>highImageName</key>
		<string>烟酒high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数码</string>
		<key>imageName</key>
		<string>数码normal</string>
		<key>highImageName</key>
		<string>数码high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车</string>
		<key>imageName</key>
		<string>汽车normal</string>
		<key>highImageName</key>
		<string>汽车high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>医疗</string>
		<key>imageName</key>
		<string>医疗normal</string>
		<key>highImageName</key>
		<string>医疗high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>书籍</string>
		<key>imageName</key>
		<string>书籍normal</string>
		<key>highImageName</key>
		<string>书籍high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学习</string>
		<key>imageName</key>
		<string>学习normal</string>
		<key>highImageName</key>
		<string>学习high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宠物</string>
		<key>imageName</key>
		<string>宠物normal</string>
		<key>highImageName</key>
		<string>宠物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>礼金</string>
		<key>imageName</key>
		<string>礼金normal</string>
		<key>highImageName</key>
		<string>礼金high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>礼物</string>
		<key>imageName</key>
		<string>礼物normal</string>
		<key>highImageName</key>
		<string>礼物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>办公</string>
		<key>imageName</key>
		<string>办公normal</string>
		<key>highImageName</key>
		<string>办公high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>维修</string>
		<key>imageName</key>
		<string>维修normal</string>
		<key>highImageName</key>
		<string>维修high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捐赠</string>
		<key>imageName</key>
		<string>捐赠normal</string>
		<key>highImageName</key>
		<string>捐赠high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>彩票</string>
		<key>imageName</key>
		<string>彩票normal</string>
		<key>highImageName</key>
		<string>彩票high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亲友</string>
		<key>imageName</key>
		<string>亲友normal</string>
		<key>highImageName</key>
		<string>亲友high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>快递</string>
		<key>imageName</key>
		<string>快递normal</string>
		<key>highImageName</key>
		<string>快递high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其它</string>
		<key>imageName</key>
		<string>其它normal</string>
		<key>highImageName</key>
		<string>其它high</string>
	</dict>
</array>
</plist>
