<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>餐饮</string>
		<key>imageName</key>
		<string>餐饮normal</string>
		<key>highImageName</key>
		<string>餐饮high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>厨房</string>
		<key>imageName</key>
		<string>厨房normal</string>
		<key>highImageName</key>
		<string>厨房high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>超市</string>
		<key>imageName</key>
		<string>超市normal</string>
		<key>highImageName</key>
		<string>超市high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日用</string>
		<key>imageName</key>
		<string>日用normal</string>
		<key>highImageName</key>
		<string>日用high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烟酒</string>
		<key>imageName</key>
		<string>烟酒normal</string>
		<key>highImageName</key>
		<string>烟酒high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>服饰</string>
		<key>imageName</key>
		<string>服饰normal</string>
		<key>highImageName</key>
		<string>服饰high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>住房</string>
		<key>imageName</key>
		<string>住房normal</string>
		<key>highImageName</key>
		<string>住房high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车</string>
		<key>imageName</key>
		<string>汽车normal</string>
		<key>highImageName</key>
		<string>汽车high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>医疗</string>
		<key>imageName</key>
		<string>医疗normal</string>
		<key>highImageName</key>
		<string>医疗high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交通</string>
		<key>imageName</key>
		<string>交通normal</string>
		<key>highImageName</key>
		<string>交通high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通讯</string>
		<key>imageName</key>
		<string>通讯normal</string>
		<key>highImageName</key>
		<string>通讯high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宠物</string>
		<key>imageName</key>
		<string>宠物normal</string>
		<key>highImageName</key>
		<string>宠物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学习</string>
		<key>imageName</key>
		<string>学习normal</string>
		<key>highImageName</key>
		<string>学习high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数码</string>
		<key>imageName</key>
		<string>数码normal</string>
		<key>highImageName</key>
		<string>数码high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行</string>
		<key>imageName</key>
		<string>旅行normal</string>
		<key>highImageName</key>
		<string>旅行high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运动</string>
		<key>imageName</key>
		<string>运动normal</string>
		<key>highImageName</key>
		<string>运动high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>imageName</key>
		<string>娱乐normal</string>
		<key>highImageName</key>
		<string>娱乐high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏</string>
		<key>imageName</key>
		<string>游戏normal</string>
		<key>highImageName</key>
		<string>游戏high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红包</string>
		<key>imageName</key>
		<string>红包normal</string>
		<key>highImageName</key>
		<string>红包high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>imageName</key>
		<string>其他normal</string>
		<key>highImageName</key>
		<string>其他high</string>
	</dict>
</array>
</plist>
