<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>工资</string>
		<key>imageName</key>
		<string>工资normal</string>
		<key>highImageName</key>
		<string>工资high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兼职</string>
		<key>imageName</key>
		<string>兼职normal</string>
		<key>highImageName</key>
		<string>兼职high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>理财</string>
		<key>imageName</key>
		<string>理财normal</string>
		<key>highImageName</key>
		<string>理财high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>礼金</string>
		<key>imageName</key>
		<string>礼金normal</string>
		<key>highImageName</key>
		<string>礼金high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其它</string>
		<key>imageName</key>
		<string>其它normal</string>
		<key>highImageName</key>
		<string>其它high</string>
	</dict>
</array>
</plist>
